*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



.container {
  width: 3224px;
  margin: 0 auto;

  background-color: bisque;

  h1{
    background-color: red;
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 60px;
  }
}


.row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  flex-shrink: 0;
  text-align: center;

  span{
    width: 150px;
    text-align: center;
  }
}

.abtn{
  --h: 432px;
}
