*, *::after, *::before{
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}



.container{
  max-width: 1224px;
  margin: 0 auto;

  /* background-color: bisque; */
}

.row{
  display: flex;
  gap: 20px;
  align-items: center;
}

.button{
  --k: calc( 779 / 528 );
  --h: 528px;
  --h: 100px;
  --w: calc(var(--h) * var(--k));
  position: relative;
  cursor: pointer;
  /* outline: 1px solid transparent;
  outline-offset: 5px;
  border-radius: 17%;
  transition: outline .3s; */

  img{
    outline: 1px solid transparent;
    height: var(--w);

    &:hover{
      outline: 1px solid lightgreen;
      /* transition: outline .3s; */
    }
  }

  .num{
    font-weight: 700;
    /* font-size: 200px; */
    font-size: calc(var(--h) / 2.0);
    color: #fff;
    line-height: 1;
          
    position: absolute;
    top: 50%;
    left: 32%;
    /* left: calc(-1em + var(--w) / 2); */
    transform: translate(-50%, -60%);
  }

  .data{
    color: #fff;
    font-weight: 700;
    /* font-size: 94px; */
    font-size: calc(var(--h) / 8);
    line-height: 1;

    position: absolute;
    bottom: 23%;
    right: 13%;    
  }

}
